.DS_Store
.env.example
abpjobsite/
app/.DS_Store
node_modules/
package-lock.json
resources/.DS_Store
storage/
tests/
vendor/
public/barcode_scan/
public/bukti_hazard/
public/bukti_inspeksi/
public/face_id/
public/export/
public/foto_profile/
public/IDM/
public/import/
public/vendors/
public/test_upload/
public/*.xlsx
